URxvt.iso14755: false
URxvt.iso14755_52: false


URxvt.perl-ext-common:      default,searchable-scrollback,resize-font,matcher,tabbed
URxvt.url-select.launcher:  firefox
URxvt.url-select.underline: true
URxvt.keysym.M-u:           perl:url-select:select_next
URxvt.keysym.M-Escape:      perl:keyboard-select:activate
URxvt.keysym.M-s:           perl:keyboard-select:search


URxvt*background: #1b1b1b
URxvt*foreground: #cccaca

!Black
URxvt*color0: #222222
URxvt*color8: #5b595a
!Red
URxvt*color1: #664742
URxvt*color9: #664742
!Green
URxvt*color2: #A5AF86
URxvt*color10: #A5AF86
!Yellow
URxvt*color3: #F7E7BD
URxvt*color11: #F7E7BD
!Blue
URxvt*color4: #6e686f
URxvt*color12: #6e686f
!Magenta
URxvt*color5: #966E6E
URxvt*color13: #B09A91
!Cyan
URxvt*color6: #849492
URxvt*color14: #849492
!White
URxvt*color7: #a49c9c
URxvt*color15: #e9e6e6


URxvt.clipboard.copycmd:  xsel --input  --clipboard
URxvt.clipboard.pastecmd: xsel --output --clipboard


! Disable screen printing by overriding the default print pipe.
URxvt.print-pipe: "cat >/dev/null"



! URxvt*font: xft:DejaVu Sans Mono:antialias=true:pixelsize=12
! URxvt*boldFont: xft:DejaVu Sans Mono:style=bold:antialias=true:pixelsize=12
! URxvt*italicFont: xft:DejaVu Sans Mono:style=italic:antialias=true:pixelsize=12
! URxvt*boldItalicFont: xft:DejaVu Sans Mono:style=bolditalic:antialias=true:pixelsize=12
#define font1         Inconsolata LGC
#define font2         Inconsolata Nerd Font
#define font3         DejaVu Sans Mono Nerd Font
#define font4         Noto Sans Mono CJK JP
#define font5         Symbola
#define font6         DejaVu Sans Mono

! URxvt*font: xft:font2:antialias=true:pixelsize=12
! URxvt*boldFont: xft:font2:style=bold:antialias=true:pixelsize=12
! URxvt*italicFont: xft:font2:style=italic:antialias=true:pixelsize=12
! URxvt*boldItalicFont: xft:font2:style=bolditalic:antialias=true:pixelsize=12

URxvt*font:           xft:font6:antialias=true:pixelsize=12,xft:font1:pixelsize=12, xft:font2:pixelsize=12:minspace=false, xft:font3:pixelsize=12,xft:font4:pixelsize=12,xft:font5:pixelsize=12
URxvt*boldFont:       xft:font6:antialias=true:pixelsize=12,xft:font1:bold:pixelsize=12, xft:font2:pixelsize=12:minspace=False,xft:font3:pixelsize=12,xft:font4:pixelsize=12,xft:font5:pixelsize=12
URxvt*italicFont:     xft:font6:antialias=true:pixelsize=12,xft:font1:italic:pixelsize=12, xft:font2:pixelsize=12:minspace=False,xft:font3:pixelsize=12,xft:font4:pixelsize=12,xft:font5:pixelsize=12
URxvt*boldItalicFont: xft:font6:antialias=true:pixelsize=12,xft:font1:bold:italic:pixelsize=12, xft:font2:pixelsize=12:minspace=False, xft:font3:pixelsize=12, xft:font4:pixelsize=14,xft:font5:pixelsize=12

! scroll in relation to buffer (with mouse scroll or Shift+Page Up)
URxvt*scrollWithBuffer: true

! scroll back to the bottom on keypress
URxvt*scrollTtyKeypress: true

URxvt*saveLines: 12000
URxvt*scrollstyle:plain
!! URxvt*scrollBar: false
!! URxvt*scrollBar: true
URxvt*cursorBlink: true
!! URxvt*cursorUnderline: true
URxvt*scrollBar_floating: true
!!URxvt*skipBuiltinGlyphs: true # urxvt line drawing glyphs are generally better
URxvt*scrollBar_right: true
!!URxvt*scrollColor: #586e75

!! URxvt.scrollstyle: rxvt
URxvt*urgentOnBell: true
URxvt*termName: rxvt-unicode-256color
